
extends template
block variables
    - var title = "Москва"
    -
        var dictMenu = {
            'Главная страница': 'index.html',
            'Таблица': 'table.html',
            'Москва': "description.html"
            
        }
    -
        var main_sections  = [
        {
        header: 'Культура',
        image: 'Moscow_asset_1.JPG',
        text: 
            'Москва — крупный культурный и туристический центр Европы и мира, московский\
            регион имеет один из богатейших в России историко-культурных потенциалов.\
            В Москве много интересных мест — это как различные историко-культурные и \
            архитектурные памятники, так и современная развлекательная инфраструктура.\
            Современная Москва насчитывает более 100 театров. Наиболее \
            известные из них — Большой театр, Малый театр, МХТ им. Чехова, \
            «Современник», Ленком, Театр на Таганке, Театр Петра Фоменко.'
        },
        {
        header: 'Наука',
        image: 'Moscow_asset_2.JPG',
        text: 
            'Москва — крупный мировой научный центр, представленный научно-исследовательскими институтами,\
            работающими во многих отраслях, такими как ядерная энергетика, микроэлектроника, космонавтика\
            и другие. В Москве на 2022 год действует 738 научных организаций, где занято 210 497 сотрудников.\
            В Москве работает треть учёных России. Они выпускают около 40 % научных публикаций. По числу научных \
            публикаций, индексируемых в Web of Science, Москва занимала 11-е \
            место среди городов мира и 2-е место в Европе, \
            уступая только Лондону. По числу ведущих вузов, представленных \
            в международных рейтингах QS, THE и ARWU, Москва занимает 5-е \
            место среди городов мира. За период 2014—2018 гг. число научных \
            публикаций авторов из Москвы выросло на 47,6 % по сравнению с периодом 2009—2013 годов.'
        }
        ,
        {
        header: 'Общая информация',
        image: 'Moscow_asset_3.JPG',
        text: 
            'Москва́  — столица России, город федерального значения,\
             административный центр Центрального федерального округа \
             и центр Московской области, в состав которой не входит.\
             Мегаполис; крупнейший по численности населения город России и её субъект — 13 149 803\
             человека (2024), что делает Москву 22-й среди городов мира по численности населения.\
            Центр Московской городской агломерации. Самый крупный город Европы по площади и населению.'
        }
        ]

block content
    div.main-moscow 
         each item in main_sections 
            
            h1.main-moscow__title= item.header
            div.main-moscow__content
                p.main-moscow__content-text= item.text
                if (item.image != "non")
                    img.main-moscow__content-image(src= require("./images/" + item.image))


